.search-screen {
    padding: 10px 25px;
    box-sizing: border-box;
}
.search-icons {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 40px;
}
.search-icons i {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.search-icons__icon {
    padding: 0 20px;
    text-align: center;
}
.recommended {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}