.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: var(--main-color);
}
.header__title {
    font-size: 30px;
    font-weight: 600;
}
.header__i span {
    margin-left: 25px;
}

@keyframes rotateCog {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}

.header .fa-gear {
    animation:rotateCog 3s linear infinite;
}